.home {
    display: flex;
}

.home div {
    margin: 1.5vh 0;
}
div {
    font-family:'Open_Sans',Helvetica;
}

@keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Change this to match the total width of all cards */
    }
  }
  
  .animate-slide {
    display: flex;
    animation: slide 20s linear infinite; /* Adjust duration as needed */
    gap: 16px; /* Adjust gap between containers */
  }
  
  .shadow-fade {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    pointer-events: none; /* Prevent interaction */
    width: 45px;
  }
  
  @media (max-width: 768px) {
    .animate-slide {
      animation: slide 10s linear infinite; /* Adjust for smaller screens */
      gap: 5px;
    }
  }
  