.home {
  display: flex;
}

.home div {
  margin: 1.5vh 0;
}
div {
  font-family: "Open_Sans", Helvetica;
}

.parallax-bg {
  background-image: url("https://c.animaapp.com/WzNSGM6X/img/-lay0742-1.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.scroll-container {
  display: flex;
  overflow: hidden;
  position: relative;
}

.scroll-content {
  display: flex;
  animation: seamless-scroll 35s linear infinite;
}

.scroll-content > div {
  flex-shrink: 0;
  margin: auto 0.6rem;
}

@keyframes seamless-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll-content:hover {
  animation-play-state: running; /* Pause animation on hover for usability */
}

.shadow-fade {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0)
  );
  pointer-events: none; /* Prevent interaction */
  width: 45px;
}

@media (max-width: 768px) {
  .animate-slide {
    animation: slide 10s linear infinite; /* Adjust for smaller screens */
    gap: 5px;
  }
}
