@import url('https://fonts.googleapis.com/css2?family=Neue+Haas+Grotesk+Text+Pro:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  	@apply leading-[normal] m-0;
	  margin: 0;
	  padding: 0;
	  font-family: Open Sans;
}
*, ::before, ::after { border-width: 0; 
	box-sizing: border-box;
	line-height: normal;
	font-family: inherit;
	margin: unset;
}

a {
	text-decoration: none;
	display: block;
}
ul {
	margin: 0;
	margin-inline: unset !important;
	padding: 0;
	list-style: none;
}
input {
	background-color: transparent;
	width: 100%;
	}

input:focus {
	outline: none;
	}

.alice-carousel_dots-item {
	cursor: pointer;
}




@layer base { :root {
	/* ------Color variables- */
	 --black_900: #000000;
	--black_900_0c: #0000000c;
	--black_900_19: #00000019;
	--black_900_b2: #000000b2;
	--blue_gray_100: #d9d9d9;
	--deep_orange_50: #fbf2e9; --deep_purple_a200: #9747ff; --gray_400: #cacaca;
	--gray_50: #fbfbfb;
	--gray_50_01: #fcfcfc;
	--gray_50_02: #f6f5ff;
	--gray_50_03: #fffbf6;
	--gray_50_19: #fcfcfc19;
	--gray_800: #4a4a4a;
	--indigo_900: #03045e;
	--lime_50: #fcf5ed;
	--orange_50: #fff2e5;
	--orange_800: #d97213;
	--white_a700: #fffdfb;
	--white_a700_01: #ffffff;
	--white_a700_cc: #ffffffcc; --black_600: #656d76; --gray_shadow: #00000029;
	/* ------Shadow variables-- */
	--shadow-xs: 8px 8px 20px 0 #00000019; --shadow-sm: 5px 5px 20px 2px #00000019; --shadow-md: 4px 4px 10px 0 #00000019; --shadow-lg: 8px 8px 64px 0 #00000019; --shadow-xl: 4px 4px 20px 0 #0000000c; --shadow-2x1: 0 0 13px 5px #00000029;
	/* ------Border radius variables------*/
	--radius-xs: 3px;
	--radius-sm: 4px;
	--radius-md: 8px;
	--radius-lg: 10px;
	--radius-xl: 16px;
	--radius-2x1: 20px;
	--radius-3x1: 22px;
	--radius-4x1: 24px;
	--radius-5x1: 26px;
	--radius-6x1: 30px;
	/* ------Spacing variables------*/
	--space-xs: 2px;
	--space-sm: 4px;
	--space-md: 6px;
	--space-lg: 8px;
	-space-xl: 10px;
	--space-2x1: 11px;
	-space-3x1: 12px;
	--space-4x1: 16px;
	-space-5x1: 18px;
	--space-6x1: 20px;
	-space-7x1: 22px;
	--space-8x1: 24px;
	--space-9x1: 26px;
	--space-10x1: 28px;
	--space-11x1: 30px;
	--space-12x1: 32px;
	--space-13x1: 34px;
	--space-14x1: 36px;
	--space-15x1: 42px;
	--space-16x1: 44px;
	}
	}
	@layer components {
		.container-xs {
			@apply w-full mx-auto max-w-[1160px];
	}
	.container-sm {
		@apply w-full mx-auto max-w-[1166px];
		}
	
	}